# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Various unnecessary files
EBOOT.PBP
PARAM.SFO
snes9xTYL.elf
snes9xTYL.prx
